.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9e2af;
  width: 100%;

  h1 {
    text-align: center;
    font-size: 8rem;
    padding: 4rem;
    color: rgb(85, 22, 152);
    border: 4px double rgb(85, 22, 152);
    outline-offset: 10px;
    outline: 4px solid rgb(85, 22, 152);
    border-radius: 10px;
    margin: 3rem 0 5rem 0;
  }
}

@media screen and (max-width: 500px) {
  .center {
    h1 {
      text-align: center;
      font-size: 4rem;
      padding: 2rem;

      outline-offset: 5px;

      margin: 3rem 0 5rem 0;
    }
  }
}
